<div class="menu-item dropdown dropdown-mobile-full">
  <a
    href="javascript:;"
    data-bs-toggle="dropdown"
    data-bs-display="static"
    class="menu-link"
  >
    <div class="menu-img online">
      <img src="/assets/images/logos/beamify.png" alt="Profile" />
    </div>
  </a>
  <div class="dropdown-menu dropdown-menu-end me-lg-3 fs-11px mt-1">
    <a class="dropdown-item d-flex align-items-center" routerLink="/login"
      >LOGIN <i class="bi bi-person-circle ms-auto text-theme fs-16px my-n1"></i
    ></a>
    <a class="dropdown-item d-flex align-items-center" routerLink="/register"
      >REGISTER <i class="bi bi-envelope ms-auto text-theme fs-16px my-n1"></i
    ></a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item d-flex align-items-center" routerLink="/status"
      >STATUS <i class="bi bi-toggle-off ms-auto text-theme fs-16px my-n1"></i
    ></a>
  </div>
</div>
