<card class="h-full">
  <card-header class="bg-none fw-bold d-flex align-items-center"
    >Live Chat
    <a
      href="#"
      class="ms-auto text-muted text-decoration-none"
      data-toggle="card-expand"
      ><i class="fa fa-expand"></i></a
  ></card-header>
  <card-body
    class="bg-inverse bg-opacity-10"
    data-scrollbar="true"
    data-height="200px"
  >
  </card-body>
  <card-footer class="bg-none">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Message" />
      <button class="btn btn-outline-default" type="button">
        <i class="fa fa-paper-plane text-muted"></i>
      </button>
    </div>
  </card-footer>
</card>
